input, input[type=text], input[type=password] {
    min-height: 30px;
    padding: 10px;
    color: var(--white);
    background: var(--grey);
    border: 2px solid var(--light-grey);
    border-radius: 4px;
    font-size: 1.1rem;
}

input:hover, input:focus, input:focus-visible, input[type=text]:hover, input[type=text]:focus, input[type=text]:focus-visible,
input[type=password]:hover, input[type=password]:focus, input[type=password]:focus-visible {
    border-color: var(--primary);
    outline: none;
}

input[type=checkbox] {
    background-color: var(--grey);
    margin-right: 10px;
}

input[type=submit] {
    height: 40px;
    background: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 4px;
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px 20px;
    margin-right: 20px;
}