:root {
    --white: #fff;
    --black: #121212;
    --dark-grey: #333;
    --grey: #5E5E5E;
    --light-grey: #9E9E9E;
    --primary: #476CFF;
    --primary-hover: #4061E6;
    --secondary: #FFD047;
    --secondary-hover: #E6BC40;
}

/* Color Stuff */

.white {
    color: var(--white);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

/* Font Stuff */

.bold {
    font-weight: 800;
}

.light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

/* Flex Stuff */

.flex {
    display: flex;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-direction: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-even {
    justify-content: space-evenly;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

/* Rotate Stuff */

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-55 {
    transform: rotate(55deg);
}

.rotate-52 {
    transform: rotate(52deg);
}

.rotate-50 {
    transform: rotate(50deg);
}

.rotate-45 {
    transform: rotate(45deg);
}